:root {
	--text-color: rgb(102, 136, 204);
	--fond-color: rgb(0, 12, 24);
	--nav-color: rgb(16, 25, 44);
	--nav-selected-color: var(--fond-color);
	/*--text-shodow-color: rgb(165, 193, 221);*/
	--transition-duration: 1s;

}

@media (prefers-color-scheme: light) {
	html {
		filter: invert(1.0);
	}
}

html {
	box-sizing: border-box;
	background-color: var(--fond-color);
	color: var(--text-color);
	font-family: 'Noto Sans JP', serif;
	text-align: center;
}

h1 {
	font-family: 'Rampart One', serif;
	font-size: 4em;
	text-shadow: var(--text-color) 1px 0 6px;
	display: block;
	margin-bottom: 64px;
	margin-top: 32px;
}

i { font-style: italic; }

b { font-weight: bold; }

nav {
	background-color: var(--nav-color);
	width: 100%;
	height: 64px;
	display: flex;
	box-shadow: 0 1px 5px var(--text-color);
	top: 0;
	position: sticky;
	box-shadow: 0 5px var(--text-color);
}

code {
	font-family: 'Cascadia Code', sans-serif;
}

.nav-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: inherit;
}

.current-page {
	background-color: var(--nav-selected-color);
}

.main-text {
	display: inline-block;
	max-width: 666px;
}

.main-text p {
	line-height: normal;
	margin-bottom: 16px;
}

.header {
	display: block;
	margin: 32px 32px 0 0;
}

.transition-fade {
	transition: var(--transition-duration);
	opacity: 1;
}

html.is-animating .transition-fade {
	opacity: 0;
}